@model JobFair.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HiringDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HiringDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Criteria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Criteria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacancies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacancies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Package)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Package)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplyLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplyLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Register)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Register.Email)
        </dd>
        <dt class="col-sm-2">
            
        </dt>
        <dd class="col-sm-10">
           <a asp-controller="InterestedCandidates" asp-action="Create" asp-route-Cid="@Model.Cid" asp-Route-Sid="" >Apply Now</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
