@model IEnumerable<JobFair.Models.Seeker>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeekerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighestQualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Register)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeekerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestQualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Register.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Sid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Sid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Sid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
